/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.text-primary {
    color: #FD6E0A;
    font-style: normal;
}

.nav-tittle {
    color: #181818;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
}

nav a {
    text-decoration: none;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin: 10px;

}

/* header section */
.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}


.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 500px;
}

.banner-tittle {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-heading {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-contant {
    max-width: 500px;
}


/* about section */

main {
    max-width: 1340px;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    padding-top: 40px;
}

.info-desctription {
    font-weight: 800;
}

/* what i do section */
#what-is-do-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin:0px 230px;
}

.skill {
    width: 267px;
    height: 377px;
    flex-shrink: 0;

    margin: 20px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.aa {
    padding: 20px;
}

.skill-title {
    padding: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.skill-description {
    padding: 15px;
    align-items: center;


}

/* resume section */
.resume-title {
    text-align: center;
    font-size: 42px;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-column-title {
    font-size: 32px;
    font-weight: 700;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    padding-top: 50px;

}

/* footer section */
.footer-container {
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.social-links{
  margin-right: 25px;
}

.Connect input[type="text"],.Connect input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: #6e6c6c;
    width: 100%;
}

